<div class="ui raised very padded text container segment">
  <div class="center">
    <p>こちらのアカウントは非公開となっております。</p>
  </div>
  <br>
  <div class="center">
    <%= link_to root_url do %>
      <i class="share icon"></i>
      <span>戻る</span>
    <% end %>
  </div>
</div>
